/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Tailwind CSS  */
@import "tailwindcss";

/* Tailwind CSS Dark Mode setup  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  color: #fff;
  background: radial-gradient(
    circle 382px at 50% 50.2%,
    rgba(73, 76, 212, 1) 0.1%,
    rgba(3, 1, 50, 1) 100.2%
  );
}

@layer utilities {
  .header-section {
    @apply flex justify-between flex-wrap px-2 items-center bg-[rgba(255,255,255,0.2)] border border-[rgba(255,255,255,0.2)] rounded h-full text-white shadow-lg shadow-[rgba(0,0,0,0.1)] content-center;
  }
  .input-element {
    @apply px-4 py-2 rounded-lg bg-transparent border border-[rgba(255,255,255,0.2)]  outline-none bg-white placeholder:bg-white placeholder:rounded-md text-black dark:bg-transparent dark:placeholder:bg-transparent dark:text-white max-w-2xs md:max-w-full;
  }

  .weather-section {
    @apply text-white rounded-md p-4 gap-2 bg-[rgba(255,255,255,0.2)] border border-[rgba(255,255,255,0.2)];
  }

  .highlights {
    @apply p-4 rounded-md bg-[rgba(255,255,255,0.2)] border border-[rgba(255,255,255,0.2)];
  }

  .history {
    @apply p-4 rounded-md bg-[rgba(255,255,255,0.2)] border border-[rgba(255,255,255,0.2)] h-full;
  }
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
